{#<link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}"/>#}

<header>
    <ul class="nav-bar">
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Main Menu
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Customers
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Employees
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Medicines
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Providers
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Sales
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Recipes
            </a>
        </li>
        <li class="nav-bar-list">
            <a href="" class="nav-item">
                Users
            </a>
        </li>
    </ul>
</header>